a button {
  font-family: sans-serif;
}

.pointer {
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  height: 45px;
}

nav,
.main-page,
article,
aside,
.twitter-section,
.people-element {
  display: flex;
  background-color: whitesmoke;
}

.header-button {
  display: flex;
  width: 25%;
  justify-content: space-evenly;
}

button {
  padding: 0.8rem 1rem;
  border: 1px solid grey;
  border-radius: 2rem;
  cursor: pointer;
}

main {
  height: 1750px;
  width: 70%;
  padding: 5rem 2rem;
  border-right: 0.5px solid lightgray;
}

main image {
  height: 45px;
  width: 45px;
}


aside {
  width: 30%;
  height: 1000px;
  flex-direction: column;
  align-items: center;
}

aside a {
  color: grey;
  text-decoration: none;
}

nav {
  border-bottom: 1px solid lightgrey;
  padding-bottom: 1rem;
}

nav a {
  margin-right: 3rem;
  font-size: 1.3rem;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

article {
  margin-top: 5rem;
}
.article-text {
  width: 80%;
  display: inline-block;
  flex-direction: column;
  justify-content: space-between;
}

.article-img {
  width: 20%;
  height: 200px;
  background-color: bisque;
}

.article-label {
  font-weight: 200;
  display: inline-block;
}

.article-icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: red;
  border-radius: 50%;
}

.twitter-section,
.recommended-section,
.people-section {
  flex-direction: column;
  align-items: center;
  width: 90%;
  text-align: left;
  justify-content: space-around;
  padding: 2rem 0;
  border-bottom: 1px solid grey;
}

.twitter-section > * {
  margin: 1rem;
}

#svc {
  margin: 0 0.5rem;
  height: 25px;
  width: 25px;
}

.pills {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.pill {
  margin: 0.3rem;
}

.people-element {
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.people-img {
  width: 60px;
  height: 60px;
  background-color: blue;
  border-radius: 50%;
}

.people-names {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  align-items: start;
  flex-direction: column;
  padding-left: 1rem;
}

footer {
  align-self: baseline;
}

ul {
  list-style-type: none;
  line-height: 25px;
  padding: 1rem;
  list-style: none;
  display: inline-flex;
  margin: 0.8rem;
}

footer a {
  padding: 0.3rem;
}

.tlogo {
  margin: 0;
  height: 25%;
  width: 25%;
}